@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800&display=swap');
body
{
    margin: 0;
}
img
{
    width: 100%;
    display: inline-block;
}

h1, h2, h3
{
    font-family: 'Nunito', sans-serif;
}
p, li, .button-1, span, td, input[type=text], select, textarea, label
{
    font-family: 'Rubik', sans-serif;
}
a
{
    text-decoration: none;
    color: black;
}
.button
{
    border: 1px solid #E61914;
    color: white;
   
    padding: 10px 22px 10px 22px;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
   
}
.button:hover
{
    background-color:#9E0000;
    color: white;
}

.button1{
   
    color:white;
    background-color: #F97A20;
   
    padding: 12px 20px 12px 20px;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s; 
}
.button1:hover
{
    background-color:#9E0000;
    color: white;
}
.subheader
{
    display: flex;
    
    padding-right: 5%;
     background-color:#4E4A47;
   

}
.subheader_c1
{
    flex-basis: 20%;
    padding-left: 5%;
    background-color:#4E4A47;
    
    
}
.subheader_c2
{
    flex-basis: 80%;
    
}
.subheader_c1 p
{
    text-align: left;
    color: white;
}
.subheader_c2 p
{
    text-align: right;
    color: white;
    font-weight: 600;
}
.header
{
    
    display: flex;
    gap: 16px;
    padding-left: 5%;
    position:sticky;
    top:0;
    z-index: 999;
    background-color: #E61914;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.header_c0
{
    flex: 5%;
    display:none;
}


.header_c1
{
    flex-basis: 12%;
    padding-top: 1%;
    padding-bottom: 1%;


}
.header_c2
{
    flex-basis: 63%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.header_c3
{
    flex-basis: 15%;
   background-color:#EFEFEF;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    align-items: center;
    
}

.header_c3 p
{
    text-align:center;
    
}
.header_c3 span
{
    
    color: #E61914;
}
.header_c3 i
{
    background-color: #E36221;
    color:white;
    padding: 6px;
    border-radius: 50%;
    text-align: right;
    font-size:25px;
}



/*---responsive header start---*/

.mobile
{
    position: fixed;
    top:0;
    bottom: 0;
    background-color: white;
    left:0;
    right:0;
    z-index: 1;
    padding: 1%;
    overflow: hidden;
    animation: mobilemenu 0.5s;
    display: none;
    margin-top:13%;
}

@keyframes mobilemenu
{
    0%{transform: translateY(-100px)}
    100%{transform: translateY(0px)}
}
.mobile ul
{
    list-style-type: none;
    padding-left: 12px;
}
.mobile ul li
{
    line-height: 2;
    
}
.mobile ul li a
{

    color: black;
}
.mobile ul li:hover
{
    background-color:#E8604C;
    color: white;
    padding-left: 8px;

}
.mobile ul li:hover a
{
    
    color: white;

}
.mobile h6
{
    background-color: #E8604C;
    padding: 8px;
    color: white;
    font-size: 18px;
    margin-bottom: 0;

}
.closemenu
{
    background-color: black;
    position: absolute;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    border-radius: 5px;
    top:0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    transition: all 0.5s;
    cursor: pointer;
}
.closemenu:hover
{
    background-color: red;
}



/*---responsive header end---*/




/*Navigationn Bar Start*/
.menu 
{
display: inline-block;
margin: 0 auto;
list-style-type: none;
}
.menu a 
{
display: block;
margin: 0;
padding: 16px 20px;
text-decoration: none;
color: white;
font-weight: 500;
font-size: 17px;

}
.active
{
    
}
.menu li 
{
position: relative;
float: left;
margin: 0;

color: #9E0000;

}
.menu li:first-child 
{
border-left: none;
}
.menu li.parent:before 
{
content: "";
z-index: 200;
position: absolute;
top: 100%;
left: 50%;
margin-top: -4px;
margin-left: -20px;
display: block;
width: 0;
height: 0;
border-style: solid;
border-width: 8px 20px 0 20px;
border-color: transparent transparent transparent;
transition: margin-top 0.1s ease-out;
}
.menu li:hover > a, .menu li:focus > a 
{
text-decoration: none;
color:black;
background-color: #9E0000;
}
.menu li:hover:before, .menu li:focus:before 
{
margin-top: 0;
border-top-color: #9E0000;
}
.menu li:hover .children, .menu li:focus .children 
{
opacity: 1;
transform: rotateX(0);
}
.menu .children 
{
opacity: 0;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
transform: rotateX(-90deg);
transform-style: preserve-3d;
transform-origin: top center;
transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.59, 1.21), opacity 0.1s 0.1s;
z-index: 100;
list-style-type: none;
position: absolute;
top: 100%;
left: 0;
width: 200px;
margin: 0;
padding: 10px 0;
background-color: #9E0000;
box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
text-align: left;
}
.menu .children li 
{
float: none;
}
.menu .children a 
{
background-color: transparent;
}
.menu .children a:hover, .menu .children a:focus 
{
color: black;
background-color: #9E0000;
}

.clearfix:after 
{
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
/*Navigationn Bar End*/



.slider
{
    display: flex;
    margin-top: 0.2%;

}
.slider_c1
{
    flex: 100%;
    position: relative;
}
.slider_bg
{
    background-color: rgb(0,0,0,0.2);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.slider_content
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.slider_content h1
{
    color: white;
    margin-bottom: 0;
    text-align: center;
    font-size: 60px;
    font-weight:800;
    color: #E61914;
}
.slider_content p
{
    color: white;
    margin-top: 0;
    text-align: center;
}
.slider img{
    height: 450px;
}


.give{
    display: flex;
     padding-left:5%;
    padding-right:5%;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 15px;
    background-color: #FFFFFF;
}
.give_c1{
    flex:48%;
}
.give_c2{
    flex:48%;
}
.give_c1 h2{
    font-family: "Barlow Condensed", sans-serif;
    line-height: 65px;
    font-weight: 500;
    font-size:55px;
    color:#222222;
    margin-bottom: 1%;
}
.give_c1 p{
     color: #666666;
    font-size: 20px;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    margin-bottom:5%;
    margin-top:2%;
    line-height: 30px;
}

.give_c1 .rup{
    color:#DA5E01;
    font-size:35px;
}
.events{
    display:flex;
    flex-wrap: wrap;
    padding-left: 12%;
    padding-right:12%;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 15px;
}
.events_c1{
   flex: 98%;
   text-align: center;

    
}
.events_c2{
    flex: 32%;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 padding-bottom:1%;
  height:auto;
  overflow: hidden;
   border-bottom: 3px dotted #FF8C00;


}

.events_c2 img{
    transition: all .5s ease-in-out;
}

.events_c2 img:hover   {
          transform: scale(1.05);
         
        }

.events_c1 h2{
    font-family: "Barlow Condensed", sans-serif;
    line-height: 28px;
    font-weight: 700;
    font-size:30px;
}
.events_c1 p{
     
   
    
    font-size: 20px;
    font-family: Barlow, sans-serif;
    font-weight: 500;
}

.events_c2 .jan{
    background-color: #F97A20;
    padding-left:20%;
    padding-right:20%;
    padding-bottom:10%;
    color: white;
    font-size: 25px;
}
.events_c2 .two{
    background-color:white;
    color: #6AC4D6;
    padding-top: 2%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 22px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.events_c2 .jan:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.events_c2 .two:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
}
.events_c2 h3{
    font-family: "Barlow Condensed", sans-serif;
    line-height: 28px;
    font-weight: 700;
    font-size: 20px;

}

.events_c2 p{
    line-height: 28px;
    text-align: left;
    margin-left: 5%;
    font-size: 16px;
    font-family: Barlow, sans-serif;
    font-weight: 500;
}



.time{
    display: flex;
    background-color:#F4F9FF;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    gap:10px;
    
}
.time_c1{
    flex: 24%;
    padding: 2%;
    text-align: center;
}
.time_c1 h2{
    font-size: 40px;
    margin:0;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #FE4C6F;
}
.time_c1 p{
    margin: 0;
    color: #5F5A5A;
     margin-top: 1%;
    margin-bottom: 1%;
}
.time_c1 i{
    font-size:40px;
    border-radius: 50%;
    padding: 2%;
    background-color:#0F77FF;
    color: white;
}
.time_c1 i:hover{
    color: gray;
}




.need
{
    display: flex;
    margin-top: 0.2%;

}
.need_c1
{
    flex: 100%;
    position: relative;
}
.need_bg
{
    background-color: rgb(0,0,0,0.3);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.need_content
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     margin-left:10%;
    padding: 1%;
    padding-bottom:3%;
    padding-top:3%;
    background-color:#FFFFFF;
    border-radius: 10px;
}
.need_content h2
{

    text-align:left;
     font-family: "Barlow Condensed", sans-serif;
    line-height: 65px;
    font-weight: 500;
    font-size:55px;
    color:#301A22;
    margin-bottom: 1%;
}
.need_content p
{
   color: gray;
    font-size: 18px;
    line-height: 26px;
    margin-top:1%;
    text-align:left;
}



.help{
    display: flex;
    flex-wrap: wrap;
    padding-left:10%;
    padding-right:10%;
    padding-top: 1%;
    padding-bottom:5%;
    gap: 15px;
    background-image:url("../img/paralex.jpg");
    height: 450px;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}
.help_c1{
    flex: 98%;
    text-align: center;
}
.help_c2{
    flex: 20%;
    border: 1px solid #DDB92B;
    text-align: center;
    padding:1%;
    padding-bottom:2% ;
    padding-top:2% ;
}

.help_c2 img{
    height:80px;
    width:80px;
}

.help_c1 h2{
    color: white;
    font-size:40px;
}
.help_c2 h3{
    color: white;
    font-size: 26px;
    margin-bottom:1%;
}
.help_c2 p{
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-top: 1.5%;
}

.awards{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
     padding-bottom: 2%;
     padding-top: 2%;
}
.awards_c1{
    flex:45%;
    padding-top: 5%;
    padding-bottom: 2%;
}
.awards_c2{
    flex:53%;
    background-color: #717171;
    margin:2%;
   
}
.awards_row{
    display: flex;
    flex-wrap:wrap;
    gap:15px;
}
.awards_row_c1{
    flex: 20%;
    padding-top:10%;
}

.awards_row_c1 img{
    width: 100px;
    
}
.awards_c2_row{
    display: flex;
    padding:20%;
    border: 15px solid #F8C053;
    margin: 1%;
}
.awards_c2_row_c1{
    flex: 98%;
}
.awards_c2_row_c1 h2{
    color: white;
    font-size:50px;
    margin: 0;
    text-align: right;
}

.awards_c2_row_c1 h3{
    color: white;
    font-size:30px;
    margin: 0;
    text-align: right;
    font-weight: 400;
    margin-bottom: 2%;
}




.years{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom:2%;
    background-color: #E4E4E4;
    margin-top: 5%;
}
.years_c1{
    flex: 24%;
    border-right: 3px dotted  #f37021;
}
.years_c1 p{
    font-size:18px;
    color: #4b4b4b;
    text-align: center;
}

.years_c1 h4{
    font-weight: 700;
    line-height: 36px;
    font-size: 25px;
    color: #4b4b4b;
    margin: 0;
    text-align: center;
}
.years_c1 span{
    color: #f37021;
    line-height: 36px;
    font-size: 25px;
    font-weight: 700px;
    margin: 0;
    text-align: center;
}


.about{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    gap: 10px;
}
.about_c1{
    flex: 48%;
}
.about_c2{
    flex:48%;
}
.about_c1 h2{
   font-family:Quicksand, sans-serif;
   font-weight: 800;
   font-size: 50px;
   line-height: 55px;
   color:rgb(51, 51, 51);
   margin-bottom: 2%;
}
.about_c1 p{
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  line-height: 38px;
  font-size: 20px;
  color:rgb(102, 102, 102);
  margin-bottom: 5%;
}

.charity{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
     padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
    
}
.charity_c1{
    flex:20%;
    background-color: #DCF9E2;
    text-align: center;
    padding:2%;
}
.charity_c1 h2{
      font-family:Quicksand, sans-serif;
   font-weight: 800;
   font-size: 60px;
   line-height: 55px;
   color:rgb(51, 51, 51);
   margin: 0%;
   margin-bottom: 2%;
}

.charity_c1 p{
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  line-height: 38px;
  font-size: 20px;
  color:rgb(102, 102, 102);
  margin:0%;  
  margin-top: 5%;
}
.expert{
    display: flex;
    gap: 10px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
    flex-wrap: wrap;
    background-color: #FFFAE1;
}
.expert_c{
    flex: 98%;
    text-align: center;
}
.expert_c1{
    flex: 30%;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 text-align: center;
 background-color: #EFEFEF;
 border-radius: 20px;
 border-bottom: 2px dotted #F99C01;
}
.expert_c h2{
     font-family:Quicksand, sans-serif;
   font-weight: 800;
   font-size: 50px;
   line-height: 55px;
   color:rgb(51, 51, 51);
   margin: 0%;
   padding-top:4%;
   padding-bottom: 4%;
}
.expert_c1 h3{
    font-family:Quicksand, sans-serif;
   font-weight: 500;
   font-size: 30px;
   line-height: 50px;
   color:rgb(51, 51, 51);
   margin: 0%;
   margin-top: 3%;
  
}
.expert_c1 p{
    font-family: Quicksand, sans-serif;
  font-weight: 400;
  line-height: 38px;
  font-size: 18px;
  color:rgb(102, 102, 102);
  margin:0%;  
 margin-bottom:5%;
 color: #F99C01;
}




.mission{
    display: flex;
    gap: 10px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
    flex-wrap: wrap;

}
.mission_c{
    flex: 98%;
    text-align: center;
}
.mission_c1{
    flex: 30%;

 text-align: center;
 background-color: #EFEFEF;
 border-radius: 20px;
 padding: 1%;
 background-color: #FFFFFF;
}
.mission_c h2{
     font-family:Quicksand, sans-serif;
   font-weight: 800;
   font-size: 50px;
   line-height: 55px;
   color:rgb(51, 51, 51);
   margin: 0%;
   padding-top:4%;
   padding-bottom: 4%;
}
.mission_c1 h3{
    font-family:Quicksand, sans-serif;
   font-weight: 500;
   font-size: 30px;
   line-height: 50px;
   color:rgb(51, 51, 51);
   margin: 0%;
  
}
.mission_c1 p{
    font-family: Quicksand, sans-serif;
  font-weight: 400;
  line-height: 38px;
  font-size: 18px;
  color:rgb(102, 102, 102);
  margin:0%;  
 margin-bottom:5%;
 color:gray;
 text-align: center;
}
.mission_c1 img{
    height:180px;
    width: 180px;
}

.spooncer{
    display: flex;
}
.spooncer_c1{
    flex: 100%;
}



.galarypic{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 2%;
}
.galarypic_c1{
  flex: 23%;
}

.galarypic_c1 img{
    height: 200px;
}


.footer
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    background-color:#013242;
    gap:16px;
    padding-top: 3%;
    padding-bottom: 3%;
  
}
.footer_c1
{
    flex: 25%;
    
    color: white;
}
.footer_c2
{
    flex: 15%;
    

    margin-left: 5%;
    color: white;
}
.footer_c2 a
{
    color: white;
}
.footer_c3 a
{
    color: white;
}
.footer_c3
{
    flex: 15%;
    

    color: white;

}
.footer_c4
{
    flex: 25%;
    background-color:#013242;
    
    color: white;
    
}
.footer_c5
{
    flex: 100%;
    background-color: #E61914;
}

.footer  h2
{
    font-size: 20px;
    color:#E61914;
}
.footer  p
{
    text-align: justify;
    
    line-height: 1.8;
    text-align: justify;

    font-size: 16px;
}
.footer ul
{
    margin: 0;
    list-style-type: none;
    padding: 5px;
}
.footer ul li
{
    line-height: 2;
    font-size: 16px;
}
.footer_c2 i
{
    
    font-size: 16px;
    color: #E61914;
}
.footer_c3 i
{
    
    font-size: 16px;
    color: #E61914;
}
.footer_c4 i
{
    
    font-size: 24px;
    color: white;
}
.footer table
{
    
    
}
.footer table td
{
    padding: 8px;
    font-size: 18px;
}
.footer_c5 p
{
    color: white;
    text-align: center;
    text-align: 16px;
}
 





    @media all and (max-width: 480px)
    {

        body{
        margin: 0;
        }

        .subheader
           {
           display:none;
           
           }
           
         .header
           {
           flex-wrap: wrap;
           gap:0px;
           padding-left: 2%;
           padding-right: 2%;
        margin-bottom: 0.1%;
           
           }
         .header_c0
           {
           display: block;
           padding-top:2%;
           font-size: 28px;
           flex: 10%;
           
           }
        .header_c0 i
           {
           color:white;
           }
        .header_c1
           {
           flex:40%;
           margin-right:7%;
           padding-top:1%;
           
           }
           
           
         .header_c2
           {
           display: none;
           }
         .header_c3
           {
           flex:20%;
           
           }
                    
      .help{
         
            flex-wrap: wrap;
            
           height:1500px;
        }
        .help_c1{
            flex: 100%;
           
        }
        .help_c2{
         flex:100%;
           
        }




        .awards{
        flex-wrap: wrap;
        }
        .awards_c1{
            flex: 100%;
        }
        .awards_c2{
          flex: 100%;
           
        }


        .awards_row{
    
    flex-wrap:wrap;
    gap:15px;
}
.awards_row_c1{
    flex: 40%;
    padding-top:10%;
    padding-left: 2%;

}

.awards_row_c1 img{
    width: 100px;
    
}

.awards_c2_row{
   flex-wrap: wrap;
}
.awards_c2_row_c1{
    flex:100%;
}


.awards_c2_row_c1 h2{
    color: white;
    font-size:28px;
    margin: 0;
    text-align: right;
}

.awards_c2_row_c1 h3{
    color: white;
    font-size:30px;
    margin: 0;
    text-align: right;
    font-weight: 400;
    margin-bottom: 2%;
}


       .events{
 
         flex-wrap: wrap;
    
        }
        .events_c1{
           flex:100%;
           text-align: center;
            
        }
        .events_c2{
            flex:100%;
         
        
        } 

        
        .years{
            flex-wrap: wrap;
           
        }
        .years_c1{
            flex:100%;
            border: none;
            border-bottom: 2px solid gray;
        }
        


        .footer
        {
            display: flex;
            flex-wrap: wrap;
        }
        .footer_c1
        {
            flex: 100%;
        }
        .footer_c2
        {
            flex: 100%;
        }
        .footer_c3
        {
            flex: 100%;
        }
        .footer_c4
        {
            flex: 100%;
        }
        .footer_c4_img
        {
            margin-top: 0;
        }
        .footer_c5
        {
            position: relative;
            flex: 100%;
        }

    }